header.tweeter-head {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #440066;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  background-size: cover;
}

header.tweet-head .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blanchedalmond;
}

header.tweet-head .name {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}