nav {
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}


nav span.nav-title {
  font-family: 'Bungee', cursive;
}

.write-tweet {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
  }
}