.tweet-container header {
  display: flex;
  justify-content: space-between;
}


article.tweet {
  border: solid black;
  padding: 20px;
  transition: box-shadow 0.3s;
  margin-bottom: 20px;
}

article.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tweet-header {
  display: flex;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.tweet-text {
  border-bottom: 3px solid black;
  word-break: break-all;
}

.tweet-footer i:hover {
  color: yellow;
}

.tweet-container h3.username {
  opacity: 0.5;
}

.tweet-container {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  .tweet-container {
     max-width: 600px;
     margin: 40px auto 0;
  }
  .section {
    width: 100%;
  }
}

